CLI_TAG=TAG_CLI_3_5_0_028
BUILD_DEST=19.1.0
FRAMEWORKS_DIR=/bamboo/FRAMEWORKS
FRAMEWORKS_TAG=TAG_FW_VPVR_3_5_0_014
OPENSSL_VERSION=openssl-1.0.2k-fips-2.0.14
SDK_RELEASE_DIR=/SDK/Prerelease
SDK_VERSION=2_2_2_0
SRTP_VERSION=libsrtp-1.5.3
VMVR_TAG=TAG_VR_19_1_0_002
PORTAL_TAG_PREFIX=TAG_VC19_1_0_
VMVR_DIR=/VMVR
CLI_DIR=/bamboo/CLI
SDK_FILE=Vidyo-ServerSDK-RELEASE_${SDK_VERSION}
SDK_BASE_DIR=/bamboo/SDK
SDK_DIR=${SDK_BASE_DIR}/${SDK_FILE}
