<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="LOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="ALL" />
		<param name="file" value="${catalina.home}/logs/super-app.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t](%C.%M:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="PERFLOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="ALL" />
		<param name="file" value="${catalina.home}/logs/super-app-performance.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t](%C.%M:%L) - %m%n" />
		</layout>
	</appender>

    <logger name="com.vidyo.interceptors.performance.PerformanceInterceptor" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="PERFLOGFILE" />
    </logger>

<!--    <logger name="org.jgroups" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="PERFLOGFILE" />
    </logger>
    <logger name="com.googlecode.ehcache" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="PERFLOGFILE" />
    </logger>
    <logger name="net.sf.ehcache" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="PERFLOGFILE" />
    </logger>-->

	<!--
<logger name="org.hibernate.SQL" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="LOGFILE" />
</logger>
-->

    <root>
		<priority value="WARN" />
		<appender-ref ref="LOGFILE" />
	</root>

</log4j:configuration>