<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="LOGFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="ALL" />
        <param name="file" value="${catalina.home}/logs/user-app.log" />
        <param name="MaxFileSize" value="5MB" />
        <param name="MaxBackupIndex" value="50" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t](%C.%M:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="PERFLOGFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="ALL" />
        <param name="file" value="${catalina.home}/logs/user-app-performance.log" />
        <param name="MaxFileSize" value="5MB" />
        <param name="MaxBackupIndex" value="25" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t](%C.%M:%L) - %m%n" />
        </layout>
    </appender>

    <logger name="com.vidyo.interceptors.performance.PerformanceInterceptor" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="PERFLOGFILE" />
    </logger>
    
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="LOGFILE" />
    </logger>

    <logger name="com.vidyo.service.user.SAMLUserDetailsServiceImpl" additivity="false">
        <level value="WARN" />
        <appender-ref ref="LOGFILE" />
    </logger>
    <!-- TODO -->
    <!-- DEBUGGING PURPOSE ONLY TO BE REMOVED ONCE LOAD TEST for 17.3.1 IS DONE -->
    <logger name="com.vidyo.db.authentication.components" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="PERFLOGFILE" />
    </logger>
    <!--
    <logger name="org.hibernate.SQL" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="LOGFILE" />
    </logger>
    -->

    <!--
    <logger name="com.vidyo.service.ConferenceServiceImpl" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="LOGFILE" />
    </logger>
    <logger name="com.vidyo.db.ConferenceDaoJdbcImpl" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="LOGFILE" />
    </logger>

    <logger name="com.vidyo.service.bindendpoint.BindEndpointServiceImpl" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="LOGFILE" />
    </logger>
    <logger name="com.vidyo.ws.portal.VidyoPortalServiceSkeleton" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="LOGFILE" />
    </logger>
    <logger name="com.vidyo.service.UserServiceImpl" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="LOGFILE" />
    </logger>

    <logger name="com.vidyo.service.cdrcollection" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="LOGFILE" />
    </logger>
    <logger name="com.vidyo.db.CDRCollection2DaoJdbcImpl" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="LOGFILE" />
    </logger>

     -->

    <root>
        <priority value="WARN" />
        <appender-ref ref="LOGFILE" />
    </root>

</log4j:configuration>